/**** SECTION ****/
.homeSlider {
  background: var(--grey100);
  color: var(--grey0);
  position: relative;
}

.homeSlider::before {
  content: "";
  background-image: url(../../img/line.svg);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -150px;
  bottom: 0;
  left: 0;
  right: 0;
}

.homeSlider .rowSlider {
  padding: 40px 0;
}

.homeSlider .rowSlider .colSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeSlider .rowSlider .colSlider h1 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 110%;
  margin-bottom: 24px;
}

.homeSlider .rowSlider .colSlider .description {
  color: var(--gray);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.homeSlider .rowSlider .colSlider .getStarted-btn {
  margin-top: 48px;
}

.homeSlider .rowSlider .colSlider .getStarted-btn .getStarted {
  text-decoration: none;
  color: var(--grey0);
  padding: 18px 75px 18px 75px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 28px;
  background: var(--royalBlue);
  -webkit-transition: 2s;
  transition: 2s;
}

.homeSlider .rowSlider img {
  width: 100%;
}

/**** SWIPER ****/
.homeSwiper {
  background: var(--grey100);
  margin-top: 50px;
}

.homeSwiper .swiper {
  width: 100%;
  height: 100%;
}

.homeSwiper .swiper .swiper-slide {
  width: 346px;
  height: 178px;
  text-align: center;
  font-size: 18px;
  background: var(--baseDarkTransparent);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: var(--grey0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px !important;
}

.homeSwiper .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeSwiper .swiper .swiper-scrollbar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 10%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

/**** Crypto Plarform ****/
.homePlatform {
  margin-top: 150px;
  margin-bottom: 150px;
}

.homePlatform .portfolioManager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--baseDarkTransparent);
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 24px;
  padding: 25px 20px;
  border: 1px solid transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.homePlatform .portfolioManager:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 2px #F27F16, 0 0 25px #F27F16, 0 0 5px #F27F16;
          box-shadow: 3px 3px 2px #F27F16, 0 0 25px #F27F16, 0 0 5px #F27F16;
}

.homePlatform .portfolioManager img {
  margin-bottom: 40px;
}

.homePlatform .portfolioManager h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: white;
  margin-bottom: 16px;
  text-align: center;
}

.homePlatform .portfolioManager p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey40);
  text-align: center;
}

.homePlatform .mobileApps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 20px;
  background-color: var(--baseDarkTransparent);
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.homePlatform .mobileApps:hover {
  -webkit-box-shadow: 3px 3px 2px #BD47FB, 0 0 25px #BD47FB, 0 0 5px #BD47FB;
          box-shadow: 3px 3px 2px #BD47FB, 0 0 25px #BD47FB, 0 0 5px #BD47FB;
  cursor: pointer;
}

.homePlatform .mobileApps img {
  margin-bottom: 40px;
}

.homePlatform .mobileApps h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: white;
  margin-bottom: 16px;
}

.homePlatform .mobileApps p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey40);
  text-align: center;
}

.homePlatform .vaultProt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.homePlatform .vaultProt .lastCard {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--baseDarkTransparent);
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.homePlatform .vaultProt .lastCard:hover {
  -webkit-box-shadow: 3px 3px 2px #11CABE, 0 0 25px #11CABE, 0 0 5px #11CABE;
          box-shadow: 3px 3px 2px #11CABE, 0 0 25px #11CABE, 0 0 5px #11CABE;
  cursor: pointer;
}

.homePlatform .vaultProt .lastCard img {
  margin-bottom: 40px;
}

.homePlatform .vaultProt .lastCard h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: white;
  margin-bottom: 16px;
}

.homePlatform .vaultProt .lastCard p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey40);
  text-align: center;
}

.homePlatform .explanations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 68px;
}

.homePlatform .explanations .explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homePlatform .explanations .explanation h1 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 110%;
  color: white;
  text-align: start;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 110%;
  margin-bottom: 24px;
}

.homePlatform .explanations .explanation p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 24px;
}

.homePlatform .explanations .explanation .explanation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePlatform .explanations .explanation .explanation-btn span {
  padding: 16px 32px;
  background: var(--royalBlue);
  border-radius: 100px;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  border: 1px solid transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.homePlatform .explanations .explanation .explanation-btn span:hover {
  border: 1px solid var(--grey0);
}

.homePlatform .explanations .explanation .explanation-btn span a {
  color: var(--grey0);
}

.homePlatform .explanations .explanation .explanation-btn span a:hover {
  text-decoration: none;
}

/**** addCard ****/
.addCard {
  margin-bottom: 150px;
}

.addCard h1 {
  color: var(--grey0);
  margin-bottom: 24px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 110%;
}

.addCard p {
  color: var(--grey40);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.addCard .cardList {
  color: var(--grey0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-top: 40px;
}

.addCard .cardList2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addCard .cardList2 .cardIkon {
  -webkit-transition: 1s;
  transition: 1s;
}

.addCard .cardList2 .cardIkon:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px #11cabe, 0 0 25px #11cabe, 0 0 5px #11cabe;
          box-shadow: 2px 2px 2px #11cabe, 0 0 25px #11cabe, 0 0 5px #11cabe;
}

.addCard .cardList3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.addCard .cardList3 .cardIkon {
  -webkit-transition: 1s;
  transition: 1s;
}

.addCard .cardList3 .cardIkon:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px #bd47fb, 0 0 25px #bd47fb, 0 0 5px #bd47fb;
          box-shadow: 2px 2px 2px #bd47fb, 0 0 25px #bd47fb, 0 0 5px #bd47fb;
}

.addCard .cardIkon {
  display: inline-block;
  border-radius: 50%;
  padding: 28px 28px;
  background: var(--baseDarkTransparent);
  margin-right: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.addCard .cardIkon:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px #f27f16, 0 0 25px #f27f16, 0 0 5px #f27f16;
          box-shadow: 2px 2px 2px #f27f16, 0 0 25px #f27f16, 0 0 5px #f27f16;
}

.addCard .title {
  color: var(--grey0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
}

.addCard .buySellCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**** News ****/
.establishment {
  margin-bottom: 150px;
}

.establishment .newsarea {
  position: relative;
}

.establishment .newsarea .newsarea1 {
  position: absolute;
  top: 0px;
  right: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  width: 120px;
  padding: 15px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-align: center;
  background-color: var(--baseDarkTransparent);
  color: var(--grey40);
  justify-content: center;
  font-size: 25px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.establishment .newsarea .newsarea2 {
  position: absolute;
  top: 90px;
  left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 200px;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-align: center;
  background-color: var(--baseDarkTransparent);
  color: var(--grey40);
  justify-content: center;
  font-size: 25px;
  color: #e41a1a;
  text-shadow: 0.5px 0.5px 0.5px var(--grey100);
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  border: 2px solid blue;
}

.establishment .newsarea .newsarea3 {
  position: absolute;
  top: 60px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  width: 160px;
  padding: 15px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-align: center;
  background-color: var(--baseDarkTransparent);
  color: var(--grey40);
  justify-content: center;
  font-size: 25px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.establishment .newsarea .newsarea4 {
  position: absolute;
  top: 200px;
  right: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100px;
  padding: 15px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-align: center;
  background-color: var(--baseDarkTransparent);
  color: var(--grey40);
  justify-content: center;
  font-size: 15px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.establishment .explanation h1 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 110%;
  color: var(--grey0);
  margin-bottom: 40px;
}

.establishment .explanation p {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 27px;
  color: var(--grey0);
  margin-bottom: 16px;
}

.establishment .explanation span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--grey40);
}

/**** Mobile Application ****/
.mobileApplication {
  margin-bottom: 120px;
}

.mobileApplication .main-explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileApplication .main-explanation .explanation h1 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 110%;
  color: var(--grey0);
  margin-bottom: 24px;
}

.mobileApplication .main-explanation .explanation p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--grey40);
  margin-bottom: 48px;
  font-family: 'Inter', sans-serif;
}

.mobileApplication .main-explanation .explanation h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: var(--grey0);
  margin-bottom: 24px;
}

.mobileApplication .main-explanation .explanation .store-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 25px;
  border: 1px solid var(--grey0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobileApplication .main-explanation .explanation .store-btn:hover {
  cursor: pointer;
  border: 1px solid var(--royalPrime);
  -webkit-box-shadow: 3px 1px 1px var(--royalPrime), 0 0 1px var(--royalPrime), 0 0 1px var(--royalPrime);
          box-shadow: 3px 1px 1px var(--royalPrime), 0 0 1px var(--royalPrime), 0 0 1px var(--royalPrime);
}

.mobileApplication .main-explanation .explanation .logo {
  margin-right: 24px;
}

.mobileApplication .main-explanation .explanation .logoContent p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: var(--grey40);
  margin-bottom: 0px;
}

.mobileApplication .main-explanation .explanation .logoContent h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey0);
}

/**** Register *****/
.register {
  margin-bottom: 120px;
}

.register .earnings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .earnings .email-subs-form {
  width: 40%;
}

.register .earnings p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--grey40);
  text-align: center;
}

.register .earnings h1 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 110%;
  text-align: center;
  color: var(--grey0);
  margin-bottom: 40px;
}

/* 
.marketCap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}
*/
/*** Responsive ****/
@media screen and (max-width: 1200px) {
  .establishment .newsarea .newsarea2 {
    top: 90px;
    left: 0px;
  }
  .establishment .newsarea .newsarea4 {
    top: 200px;
    right: 150px;
  }
  .register .earnings button .circle {
    display: none;
  }
  footer .row3 .email-subs-form .emailForm .footer-btn {
    display: none;
  }
}

@media screen and (max-width: 993px) {
  .homePlatform .mobileApps h2 {
    text-align: center;
  }
  .addCard .cardList {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }
  .establishment .newsarea .newsarea1 {
    height: 80px;
    width: 80px;
    font-size: 15px;
    right: 128px;
  }
  .establishment .newsarea .newsarea2 {
    height: 150px;
    width: 150px;
    font-size: 15px;
  }
  .establishment .newsarea .newsarea3 {
    height: 110px;
    width: 110px;
    font-size: 15px;
  }
  .establishment .newsarea .newsarea4 {
    right: 78px;
  }
  .mobileApplication .main-explanation .explanation .store-btn {
    padding: 0px 0px;
  }
  .mobileApplication .main-explanation .explanation .col-6 {
    padding-right: 0px;
  }
  .register .earnings .email-subs-form {
    width: 100%;
  }
  .register .earnings .email-subs-form .circle {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .homeSlider .rowSlider img {
    margin-top: 60px;
  }
  .homePlatform {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .homePlatform .portfBlock {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .homePlatform .portfBlock .vaultProt .lastCard {
    margin-top: 25px;
  }
  .homePlatform .explanations {
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 52px;
    margin-bottom: 35px;
  }
  .homePlatform .explanations .explanation h1 {
    text-align: center;
  }
  .homePlatform .explanations .explanation .commonButton {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  .addCard {
    margin-bottom: 60px;
  }
  .addCard .cardList {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .addCard .buySellCard {
    margin-top: 60px;
  }
  .establishment .newsarea .newsarea1 {
    height: 110px;
    width: 110px;
    font-size: 18px;
    right: 210px;
  }
  .establishment .newsarea .newsarea2 {
    height: 190px;
    width: 190px;
    font-size: 20px;
  }
  .establishment .newsarea .newsarea3 {
    height: 160px;
    width: 160px;
  }
  .establishment .newsarea .newsarea4 {
    right: 170px;
  }
  .establishment .explanation {
    margin-top: 400px;
  }
  .mobileApplication {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 510px) {
  .homePlatform .portfBlock {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .homePlatform .portfBlock .portf-mobil {
    margin-right: 45px;
    margin-left: 45px;
  }
  .homePlatform .portfBlock .portf-mobil h2 {
    font-size: 18px;
  }
  .homePlatform .portfBlock .portf-mobil p {
    font-size: 14px;
  }
  .homePlatform .portfBlock .vaultProt {
    margin-right: 45px;
    margin-left: 45px;
  }
  .homePlatform .portfBlock .vaultProt h2 {
    font-size: 18px;
  }
  .homePlatform .portfBlock .vaultProt p {
    font-size: 14px;
  }
  .homePlatform .explanations {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 10px 10px;
  }
  .homePlatform .explanations .explanation h1 {
    font-size: 28px;
    text-align: center;
  }
  .homePlatform .explanations .explanation p {
    font-size: 14px;
    text-align: center;
  }
  .homePlatform .explanations .explanation .commonButton span a {
    font-size: 14px;
  }
  .addCard h1 {
    font-size: 28px;
  }
  .addCard p {
    font-size: 14px;
  }
  .addCard .cardList .title {
    font-size: 18px;
  }
}
/*# sourceMappingURL=home.css.map */