* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

//------Header
.header {
  width: 100%;
  background: var(--grey100);
  position: relative;
  z-index: 3;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 0;

    .navHead {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      .logo {
        display: flex;
        align-items: center;
        img {
          width: 50px;
        }

        .text {
          color: var(--grey0);
          font-family: "Sora", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
        }
      }

      .nav-links {
        flex: 1;
        text-align: right;

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
            a {
              font-family: "Roboto", sans-serif;
              color: var(--grey0);
              text-decoration: none;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              transition: 0.5s;
              &:hover {
                color: var(--royalPrime);
              }
            }
          }
        }
      }

      .login {
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;

        a {
          font-family: "Sofia Pro", sans-serif;
          color: var(--grey0);
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
        }

        .singIn {
          border: 1px solid var(--grey0);
          padding: 12px 24px 12px 24px;
          border-radius: 100px;
          transition: 1s;
          &:hover {
            text-decoration: none;
            background: var(--royalBlue);
            padding: 12px 24px 12px 24px;
            border-radius: 30px;
          }

          margin-right: 11px;
        }

        .singUp {
          background: var(--royalBlue);
          padding: 12px 24px 12px 24px;
          border-radius: 100px;
          transition: 0.5s;
          border: 1px solid transparent;

          &:hover {
            text-decoration: none;
            background-color: #383a45;
            padding: 12px 24px 12px 24px;
            border-radius: 30px;
            color: var(--grey0);
            border: 1px solid var(--grey0);
          }
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .nav-links {
      display: none;
    }
    .login {
      display: none;
      .singIn {
        display: none;
      }
      .singUp {
        display: none;
      }
    }
  }

  @media only screen and (min-width: 993px) {
    .responsiveMenu {
      display: none;
    }
  }
}
//------Responsive
@media screen and (max-width: 992px) {
  .header .nav .navHead {
    justify-content: space-between;
  }
  .responsiveMenu {
    margin-right: 25px;
  }
}

#menu-toggle {
  opacity: 0;
  &:checked {
    ~ {
      .menu-btn {
        margin-right: 25px;
        > span {
          transform: rotate(45deg);
          &::before {
            top: 0;
            transform: rotate(0);
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }
      .menu__box {
        visibility: visible;
        left: 0;
        background: var(--navyPrime);
      }
    }
  }
}
.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--grey0);
    transition-duration: 0.25s;
    &::before {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--grey0);
      transition-duration: 0.25s;
      content: "";
      top: -8px;
    }
    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--grey0);
      transition-duration: 0.25s;
      content: "";
      top: 8px;
    }
  }
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  .logo {
    position: absolute;
    top: 24px;
    left: 20px;
  }
}
.menu-item {
  display: block;
  padding: 12px 24px;
  color: var(--grey0);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  &:hover {
    background: var(--grey100);
    color: #fff;
    text-decoration: none;
    outline: 0;
  }
}
