//------Header
.header {
  width: 100%;
  background: var(--grey100);
  position: relative;
  z-index: 1;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 0;

    .navHead {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      .logo {
        img {
          width: 50px;
        }

        .text {
          color: var(--grey0);
          font-family: 'Sora', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
        }
      }

      .nav-links {
        flex: 1;
        text-align: right;

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
            a {
              font-family: 'Roboto', sans-serif;
              color: var(--grey0);
              text-decoration: none;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              transition: 0.5s;
              &:hover{
                color: var(--royalPrime);
              }
            }
          }
        }
      }

      .login {
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;

        a {
          font-family: 'Sofia Pro', sans-serif;
          color: var(--grey0);
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;

        }

        .singIn {
          border: 1px solid var(--grey0);
          padding: 12px 24px 12px 24px;
          border-radius: 100px;
          transition: 1s;
          &:hover {
            text-decoration: none;
            background: var(--royalBlue);
            padding: 12px 24px 12px 24px;
            border-radius: 30px;
          }

          margin-right: 11px;
        }

        .singUp {
          background: var(--royalBlue);
          padding: 12px 24px 12px 24px;
          border-radius: 100px;
          transition: 0.5s;
          border: 1px solid transparent;

          &:hover {
            text-decoration: none;
            background-color: #383a45;
            padding: 12px 24px 12px 24px;
            border-radius: 30px;
            color: var(--grey0);
            border: 1px solid var(--grey0);
          }
        }
      }
    }
  }
}