* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

//------Header
.header {
  width: 100%;
  background: var(--grey100);
  position: relative;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 0;
    .navHead {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      .logo {
        img {
          width: 50px;
        }
        .text{
          color: var(--grey0);
        }
      }

      .nav-links {
        flex: 1;
        text-align: right;

        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;

            a {
              color: white;
              text-decoration: none;
              font-size: 16px;
            }
          }
        }
      }
      .login {
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        a {
          color: white;
        }
        .singIn {
          border: 1px solid white;
          padding: 12px 24px 12px 24px;
          border-radius: 100px;
          transition: 0.5s;
          &:hover {
            text-decoration: none;
            background: var(--royalBlue);
            padding: 12px 24px 12px 24px;
            border-radius: 30px;
          }
          margin-right: 11px;
        }
        .singUp {
          background: var(--royalBlue);
          padding: 12px 24px 12px 24px;
          border-radius: 100px;
          transition: 0.5s;
          border: 1px solid transparent;
          &:hover {
            text-decoration: none;
            background-color: #383a45;
            padding: 12px 24px 12px 24px;
            border-radius: 30px;
            color: white;
            border: 1px solid white;
          }
        }
      }
    }
  }
}

//-----Section

.homeSlider {
  background: var(--grey100);
  color: var(--grey0);
  .row {
    padding: 40px 0;
    .col-6 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }

    }
  }
  .description{
    color: var(--gray);
  }
  .homeSlider-btn{
    display: inline-block;
    margin-top: 30px;
    padding: 18px 32px 18px 32px;
    border-radius: 100px;
    font-size: 18px;
    background: var(--royalBlue);
    transition:2s;
    .homeSlider-btna{
      text-decoration: none;
      color: white;
    }
  }
}
