* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

//------Header
.header {
    width: 100%;
    background: var(--grey100);
    position: relative;
    z-index: 3;

    .nav {
        padding: 15px 0;

        .navHead {
            .logo {
                display: flex;
                align-items: center;
                
                .text {
                    color: var(--grey0);
                    font-family: "Sora", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 23px;

                    &:hover {
                        outline: none;
                    }
                }

            }

            .nav-links {
                flex: 1;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: center;
                label #btn,label #cancel{
                    color:var(--grey0);
                    font-size: 30px;
                    line-height: 80px;
                    cursor: pointer;
                    display: none;
                }
                #check{
                    display: none;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        display: inline-block;
                        padding: 8px 12px;
                        position: relative;

                        a {
                            font-family: "Roboto", sans-serif;
                            color: var(--grey60);
                            text-decoration: none;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 22px;
                            transition: 0.5s;

                            &:hover {
                                color: var(--grey0);
                            }
                        }
                    }
                }
            }
            .rightMenu{
                display: flex;
                justify-content: flex-end;
                .search-box {
                    background: var(--baseDarkTransparent);
                    border-radius: 40px;
                    padding: 6px;
                    max-width: 250px;
                    .search-txt {
                        border: none;
                        background: none;
                        padding: 0;
                        outline: none;
                        color: var(--grey0);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        margin-right: 5px;
                    }
    
                    a {
                        float: right;
                    }
                }
                .person {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .notification {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding: 8px 24px;
                    }
                    h1 {
                        color: var(--grey0);
                        font-family: Sofia Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 160%;
                        margin-right: 15px;
                    }
    
                    img {
                        margin-right: 11px;
                    }
                }
            }
            
        }
    }

}

@media screen and (max-width:1343px) {
    .header {
        .nav {
            .navHead {
                .notification {
                    align-items: center;

                    img {
                        width: 28px;
                        height: 28px;
                    }
                }

                .person {
                    justify-content: center;

                    h1 {
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px){
    .header{
        .navHead{
            .logo{
                .logoPicture{
                    img{
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:992px){
    .header{
        .nav{
            .navHead{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    display: none;
                    .text{
                        display: none;
                    }
                }
                .nav-links{
                    justify-content: flex-start;
                    #check:checked ~ ul{
                        left: 0;
                    }
                    #check:checked ~ label #btn{
                        display: none;
                    }
                    #check:checked ~ label #cancel{
                        display: block;
                    }
                    label #btn,label #cancel{
                        font-size: 20px;
                        line-height: 50px;
                        
                    }
                    
                    label #btn{
                        display: block;
                    }
                    ul {
                        position: fixed;
                        width: 100%;
                        height: 100vh;
                        background-color: #272833;
                        top: 100px;
                        left: -100%;
                        text-align: center;
                        transition: all 0.7s;
                        li{
                            display: block;
                            margin: 50px 0;
                            line-height: 30px;
                           
                        }
                    }
                }
                .rightMenu{
                    align-items: center;
                    .person{
                        justify-content: flex-end;
                    }
                    .search-box{
                        max-width: 0;
                        background: transparent;
                        .search-txt{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:576px){
    .header{
        .nav{
            .navHead{
                .rightMenu{
                    .person{
                        .notification{
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}
