.swiper__container{
    margin-top: 30px;
    .mySwiper {
        background: var(transparent);
        height: 221px !important;
        width: 100%;
        height: 100%;
    
        .swiper-slide {
            background: var(--baseDarkTransparent);
            border-radius: 20px;
            height: 100%;
            .swiper__coin{
                .coin__ratio{
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
        .mySwiper-prev {
            top: 45%;
        }
    }
}



