body {
    background: var(--darkerGrey);
}

h1 {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--grey0);
}

h2 {
    color: var(--grey40);
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

h3 {
    color: var(--grey0);
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 27px;
}

.swiper__container {
    margin-top: 30px;
    margin-bottom: 24px;

    .mySwiper {
        background: var(transparent);
        height: 221px !important;
        width: 100%;
        height: 100%;

        .swiper-slide {
            background: var(--grey100);
            border-radius: 20px;
            height: 100%;
            border: 2px solid transparent;
            transition: 1s;

            &:hover {
                background: transparent;
                border: 2px solid blue;
                cursor: pointer;

            }

            .swiper__coin {
                .coin__ratio {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 24px;

                    .coin__img {
                        display: flex;

                        img {
                            width: 24px;
                            height: 24px;

                        }

                        h1 {
                            margin-left: 10px;
                        }
                    }

                    .coin__proportion {
                        p {
                            font-family: 'Graphik';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 27px;
                            color: var(--redPrimary);
                        }
                    }
                }

                .coin__price {
                    h3 {

                        margin-left: 16%;
                        margin-bottom: 8px;
                    }

                    h2 {
                        line-height: 24px;
                        margin-left: 16%;
                    }

                    img {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }


        }

        .add__swiper__coin {
            background: transparent !important;
            border: 2px dashed var(--grey80);
            position: relative;

            .add__coin__container {
                position: absolute;
                top: 25%;
                left: 30%;
                display: block;
                justify-content: center;

                img {
                    margin-left: 10px;
                }

                p {
                    color: var(--grey40);
                    font-family: 'Sofia Pro';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 160%;

                }
            }


        }

        .mySwiper-prev {
            top: 45%;
        }
    }
}

.buying__coins {
    .selected__coin {
        background: var(--grey100);
        border-radius: 12px;

        .selected__coin__container {
            padding: 24px;

            .coin__img {
                display: flex;
                vertical-align: center;
                margin-bottom: 16px;

                img {
                    width: 32px;
                    height: 32px;
                    margin-right: 16px;
                }

                h1 {
                    font-weight: 600;
                    font-size: 20px;
                }

            }

            .coin__price {
                margin-bottom: 32px;
                h2{
                    font-size: 18px;
                }
            }

            .exchange__balance {
                margin-bottom: 24px;
                .exchange__balance__container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background: var(--baseDarkTransparent);
                    border-radius: 12px;
                    padding: 8px;
                    .current__asset {
                        display: block;
                        align-items: center;
                        margin-left: 20px;
                        padding: 0;

                    }

                    .current__rate {
                        display: flex;
                        align-items: center;
                    }
                }

            }
        }
    }
}