body {
  background: var(--darkerGrey);
}

h1 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--grey0);
}

h2 {
  color: var(--grey40);
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

h3 {
  color: var(--grey0);
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 27px;
}

.swiper__container {
  margin-top: 30px;
  margin-bottom: 24px;
}

.swiper__container .mySwiper {
  background: var(transparent);
  height: 221px !important;
  width: 100%;
  height: 100%;
}

.swiper__container .mySwiper .swiper-slide {
  background: var(--grey100);
  border-radius: 20px;
  height: 100%;
  border: 2px solid transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.swiper__container .mySwiper .swiper-slide:hover {
  background: transparent;
  border: 2px solid blue;
  cursor: pointer;
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__ratio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 24px;
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__ratio .coin__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__ratio .coin__img img {
  width: 24px;
  height: 24px;
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__ratio .coin__img h1 {
  margin-left: 10px;
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__ratio .coin__proportion p {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--redPrimary);
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__price h3 {
  margin-left: 16%;
  margin-bottom: 8px;
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__price h2 {
  line-height: 24px;
  margin-left: 16%;
}

.swiper__container .mySwiper .swiper-slide .swiper__coin .coin__price img {
  width: 100%;
  padding: 10px;
}

.swiper__container .mySwiper .add__swiper__coin {
  background: transparent !important;
  border: 2px dashed var(--grey80);
  position: relative;
}

.swiper__container .mySwiper .add__swiper__coin .add__coin__container {
  position: absolute;
  top: 25%;
  left: 30%;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper__container .mySwiper .add__swiper__coin .add__coin__container img {
  margin-left: 10px;
}

.swiper__container .mySwiper .add__swiper__coin .add__coin__container p {
  color: var(--grey40);
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

.swiper__container .mySwiper .mySwiper-prev {
  top: 45%;
}

.buying__coins {
  margin-bottom: 30px;
}

.buying__coins .selected__coin {
  background: var(--grey100);
  border-radius: 12px;
  height: 100%;
  margin-bottom: 20px;
}

.buying__coins .selected__coin .selected__coin__container {
  padding: 24px;
}

.buying__coins .selected__coin .selected__coin__container .coin__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: center;
  margin-bottom: 16px;
}

.buying__coins .selected__coin .selected__coin__container .coin__img img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.buying__coins .selected__coin .selected__coin__container .coin__img h1 {
  font-weight: 600;
  font-size: 20px;
}

.buying__coins .selected__coin .selected__coin__container .coin__price {
  margin-bottom: 32px;
}

.buying__coins .selected__coin .selected__coin__container .coin__price h2 {
  font-size: 18px;
}

.buying__coins .selected__coin .selected__coin__container .exchange__balance {
  margin-bottom: 24px;
}

.buying__coins .selected__coin .selected__coin__container .exchange__balance .exchange__balance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--baseDarkTransparent);
  border-radius: 12px;
  padding: 8px;
}

.buying__coins .selected__coin .selected__coin__container .exchange__balance .exchange__balance__container .current__asset {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.buying__coins .selected__coin .selected__coin__container .exchange__balance .exchange__balance__container .current__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buying__coins .selected__coin .selected__coin__container .shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.buying__coins .selected__coin .selected__coin__container .shopping .withdrow {
  background: var(--royalBlue);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 27px;
  gap: 10px;
}

.buying__coins .selected__coin .selected__coin__container .shopping .withdrow a {
  color: #FFF;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}

.buying__coins .selected__coin .selected__coin__container .shopping .deposit {
  border: 1px solid #FFF;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 27px;
  gap: 10px;
}

.buying__coins .selected__coin .selected__coin__container .shopping .deposit a {
  color: #FFF;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}

.buying__coins .coinTable {
  background: var(--grey100);
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: auto;
}

.buying__coins .coinTable .table thead tr {
  border-bottom: 1px solid var(--grey80);
  text-align: center;
}

.buying__coins .coinTable .table thead tr th {
  color: var(--grey60);
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.buying__coins .coinTable .table tbody tr td {
  text-align: center;
  color: var(--grey0);
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.buying__coins .coinTable .table tbody tr .assets img {
  padding-right: 20px;
}

.buying__coins .coinTable .table tbody tr .title {
  color: var(--grey40);
}

@media screen and (max-width: 1200px) {
  .swiper__container .mySwiper .swiper-slide {
    width: 224px;
    height: 173px;
  }
  .swiper__container .mySwiper .swiper-slide .swiper__coin .coin__ratio {
    margin-top: 10px;
  }
  .swiper__container .mySwiper .swiper-slide .swiper__coin .coin__price h3 {
    margin-bottom: 0;
  }
  .swiper__container .mySwiper .swiper-slide .swiper__coin .coin__price h2 {
    margin-bottom: 0;
  }
  .swiper__container .mySwiper .swiper-slide .swiper__coin .coin__price img {
    padding: 0;
    width: 100%;
    height: 56px;
  }
  .buying__coins .selected__coin .selected__coin__container .exchange__balance .exchange__balance__container .current__rate img {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  h1 {
    font-size: 14px;
    margin: 0;
  }
  h2 {
    font-size: 12px;
    margin: 0;
  }
  h3 {
    font-size: 14px;
    margin: 0;
  }
  .buying__coins .selected__coin .selected__coin__container {
    padding: 10px;
  }
  .buying__coins .selected__coin .selected__coin__container .exchange__balance .exchange__balance__container .current__rate {
    padding: 0;
  }
  .buying__coins .selected__coin .selected__coin__container .shopping .withdrow {
    padding: 7px 7px;
  }
  .buying__coins .selected__coin .selected__coin__container .shopping .deposit {
    padding: 7px 7px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 20px;
  }
  .selected__coin .selected__coin__container {
    text-align: center;
  }
  .selected__coin .selected__coin__container .coin__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buying__coins .coinTable .table thead tr th {
    font-size: 14px;
  }
  .buying__coins .coinTable .table tbody tr td {
    font-size: 14px;
  }
}
/*# sourceMappingURL=wallet.css.map */