/* ======= BUY SELL ========*/
.chartSection .left-buy-sell {
  border-radius: 5px;
  padding: 0;
}

.chartSection .left-buy-sell .buy-sell-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131722;
  padding: 5px 10px;
  margin: 0;
}

.chartSection .left-buy-sell .buy-sell-hood .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chartSection .left-buy-sell .buy-sell-hood .quantity .title {
  color: var(--grey0);
  font-size: 14px;
}

.chartSection .left-buy-sell .buy-sell-hood .quantity .text {
  font-size: 12px;
  color: var(--grey0);
}

.chartSection .left-buy-sell .buy-sell-hood .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chartSection .left-buy-sell .buy-sell-hood .price .title {
  color: var(--grey0);
  font-size: 14px;
}

.chartSection .left-buy-sell .buy-sell-hood .price .text {
  font-size: 12px;
  color: var(--grey0);
}

.chartSection .left-buy-sell .buy-sell-hood .lastPrice .title {
  font-size: 14px;
  color: var(--grey0);
}

.chartSection .left-buy-sell .buy-sell-hood .lastPrice .title .bigDollar {
  font-size: 18px;
  color: var(--greenPrimary);
}

.chartSection .left-buy-sell .buy-sell-hood .lastPrice .value {
  font-size: 18px;
  color: var(--greenPrimary);
}

.chartSection .left-buy-sell .buy-sell-hood .lastPrice .value small {
  font-size: 12px;
  color: var(--grey40);
}

.chartSection .left-buy-sell .buy-sell-hood .percentile .rise {
  font-size: 18px;
  color: var(--greenPrimary);
}

.chartSection .left-buy-sell .buySellPath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chartSection .left-buy-sell .buySellPath .graphic-view {
  max-width: 100%;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-ul {
  margin-left: 0;
  padding-left: 0;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-ul .buy-sell-list {
  position: relative;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-ul .buy-sell-list::before {
  content: "";
  width: 40%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(3, 166, 109, 0.12);
}

.chartSection .left-buy-sell .buySellPath .graphic-view .sell-ul .buy-sell-list {
  position: relative;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .sell-ul .buy-sell-list::before {
  content: "";
  width: 40%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(183, 41, 30, 0.12);
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-sell-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--navyPrime);
  padding: 10px 15px 0 15px;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-sell-ul .buy-sell-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5px 0;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-sell-ul .buy-sell-list .value {
  color: var(--grey0);
  font-size: 12px;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-sell-ul .buy-sell-list .quantity {
  color: var(--grey0);
  font-size: 12px;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-sell-ul .buy-sell-list .price {
  color: var(--greenPrimary);
  font-size: 12px;
  padding: 3px 10px;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .buy-sell-ul .buy-sell-list .drop {
  color: var(--redPrimary);
  font-size: 12px;
  padding: 3px 10px;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .drop-graphic {
  background: var(--white-color);
  border-radius: 5px 0 0 5px;
  padding: 15px 0 0 0;
  margin: 10px 0;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .drop-graphic img {
  width: 100%;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .rise-graphic {
  background: var(--white-color);
  border-radius: 0 5px 5px 0;
  padding: 15px 0 0 0;
  margin: 10px 0;
}

.chartSection .left-buy-sell .buySellPath .graphic-view .rise-graphic img {
  width: 100%;
}
/*# sourceMappingURL=exchange.css.map */