/* ======= BUY SELL ========*/
.chartSection {
    .left-buy-sell {
      border-radius: 5px;
      padding: 0;
      .buy-sell-hood {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #131722;
        padding: 5px 10px;
        margin: 0;
        .quantity {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .title {
            color: var(--grey0);
            font-size: 14px;
          }
          .text {
            font-size: 12px;
            color: var(--grey0);
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .title {
            color: var(--grey0);
            font-size: 14px;
          }
          .text {
            font-size: 12px;
            color: var(--grey0);
          }
        }
        .lastPrice{
          .title{
            font-size: 14px;
            color: var(--grey0);
            .bigDollar{
              font-size: 18px;
              color: var(--greenPrimary);
            }
          }
          .value{
            font-size: 18px;
            color: var(--greenPrimary);
            small{
              font-size: 12px;
              color: var(--grey40);
            }
          }
        }
        .percentile{
          .rise{
            font-size: 18px;
            color: var(--greenPrimary);
          }
        }
      }
      .buySellPath{
          display: flex;
          flex-direction: column;
        .graphic-view {
          max-width: 100%;
            .buy-ul {
              margin-left: 0;
              padding-left: 0;
              .buy-sell-list {
                position: relative;
                &::before {
                  content: "";
                  width: 40%;
                  height: auto;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  background: rgba(#03a66d, 0.12);
                }
              }
            }
            .sell-ul {
              .buy-sell-list {
                position: relative;
                &::before {
                  content: "";
                  width: 40%;
                  height: auto;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  background: rgba(#b7291e, 0.12);
                }
              }
            }
            .buy-sell-ul {
              margin: 0;
              padding: 0;
              list-style: none;
              background:var(--navyPrime);
              padding: 10px 15px 0 15px;
              .buy-sell-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.5px 0;
                .value {
                  color: var(--grey0);
                  font-size: 12px;
                }
                .quantity {
                  color: var(--grey0);
                  font-size: 12px;
                }
                .price {
                  color: var(--greenPrimary);
                  font-size: 12px;
                  padding: 3px 10px;
                }
                .drop {
                  color: var(--redPrimary);
                  font-size: 12px;
                  padding: 3px 10px;
                }
              }
            }
            .drop-graphic {
              background: var(--white-color);
              border-radius: 5px 0 0 5px;
              padding: 15px 0 0 0;
              margin: 10px 0;
              img {
                width: 100%;
              }
            }
            .rise-graphic {
              background: var(--white-color);
              border-radius: 0 5px 5px 0;
              padding: 15px 0 0 0;
              margin: 10px 0;
              img {
                width: 100%;
              }
            }
          }
      }
    }

  }
  

/* ======= CUSTOM EXCHANGE  ========*/ 
.customExchange{
  .coinBuy{
    background: var(--navyPrime);
    padding: 15px;
    .header{
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      background: var(--navyPrime);
      .head{
        color: var(--greenPrimary);
        font-weight: 700;
        font-size: 16px;
      }
      .balance{
        color: var(--grey0);
        font-size: 12px;
      }
    }
    .openOrders{
      text-align: end;
      color: var(--grey40);
      font-size: 11px;
    }
    .content{
      display: flex;
      flex-direction: column;
      .typesLine{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button{
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--grey0);
          background: var(--grey100);
          border: 1px solid var(--baseDarkTransparent);
          border-radius: 5px;
          width: 100%;
          transition: 500ms ease;
          font-weight: 400;
          &:nth-child(2){
            margin: 5px;
          }
          &:hover{
            color: var(--greenPrimary);
            border: 1px solid var(--greenPrimary);
            text-decoration: none;
          }
        }
        .active{
          color: var(--greenPrimary);
          border: 1px solid var(--greenPrimary);
          text-decoration: none;
        }
      }
    }
    .limitPrice{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ask__label{
        width: 100%;
        display: flex;
        position: relative;
        .inputRate{
          background: var(--grey100);
          border: 2px solid var(--baseDarkTransparent);
          border-radius: 20px;
          padding: 15px;
          outline: none;
          width: 100%;
          margin: 8px 0;
          color: var(--grey0);
          &::placeholder{
            color: var(--grey60);
          }
          &:focus{
            border: 1px solid var(--grey60);
          }
        }
        .symbol{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          display: flex;
          align-items: center;
          color: var(--grey60);
        }
      }
      .percentile{
        display: flex;
        width: 100%;
        .typesLine{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .button{
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--grey0);
            background: var(--grey100);
            border: 1px solid var(--baseDarkTransparent);
            border-radius: 5px;
            width: 100%;
            transition: 500ms ease;
            font-weight: 400;
            &:nth-child(2){
              margin: 5px;
            }
            &:nth-child(3){
              margin-right: 5px;
            }
            &:hover{
              color: var(--greenPrimary);
              border: 1px solid var(--greenPrimary);
              text-decoration: none;
            }
          }
          .active{
            color: var(--greenPrimary);
            border: 1px solid var(--greenPrimary);
            text-decoration: none;
          }
        }
      }
      .buyBTC{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        background: var(--greenPrimary);
        color: var(--grey0);
        text-decoration: none;
        border-radius: 30px;
        &:hover{
          background: var(--lightGreen);
        }
      }
    }
  }

  .coinSell{
    background: var(--navyPrime);
    padding: 15px;
    .header{
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      background: var(--navyPrime);
      .head{
        color: var(--redPrimary);
        font-weight: 700;
        font-size: 16px;
      }
      .balance{
        color: var(--grey0);
        font-size: 12px;
      }
    }
    .openOrders{
      text-align: end;
      color: var(--grey40);
      font-size: 11px;
    }
    .content{
      display: flex;
      flex-direction: column;
      .typesLine{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button{
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--grey0);
          background: var(--grey100);
          border: 1px solid var(--baseDarkTransparent);
          border-radius: 5px;
          width: 100%;
          transition: 500ms ease;
          font-weight: 400;
          &:nth-child(2){
            margin: 5px;
          }
          &:hover{
            color: var(--redPrimary);
            border: 1px solid var(--redPrimary);
            text-decoration: none;
          }
        }
        .active{
          color: var(--redPrimary);
          border: 1px solid var(--redPrimary);
          text-decoration: none;
        }
      }
    }
    .limitPrice{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ask__label{
        width: 100%;
        display: flex;
        position: relative;
        .inputRate{
          background: var(--grey100);
          border: 2px solid var(--baseDarkTransparent);
          border-radius: 20px;
          padding: 15px;
          outline: none;
          width: 100%;
          margin: 8px 0;
          color: var(--grey0);
          &::placeholder{
            color: var(--grey60);
          }
          &:focus{
            border: 1px solid var(--grey60);
          }
        }
        .symbol{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          display: flex;
          align-items: center;
          color: var(--grey60);
        }
      }
      .percentile{
        display: flex;
        width: 100%;
        .typesLine{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .button{
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--grey0);
            background: var(--grey100);
            border: 1px solid var(--baseDarkTransparent);
            border-radius: 5px;
            width: 100%;
            transition: 500ms ease;
            font-weight: 400;
            &:nth-child(2){
              margin: 5px;
            }
            &:nth-child(3){
              margin-right: 5px;
            }
            &:hover{
              color: var(--redPrimary);
              border: 1px solid var(--redPrimary);
              text-decoration: none;
            }
          }
          .active{
            color: var(--redPrimary);
            border: 1px solid var(--redPrimary);
            text-decoration: none;
          }
        }
      }
      .sellBTC{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        background: var(--redPrimary);
        color: var(--grey0);
        text-decoration: none;
        border-radius: 30px;
        &:hover{
          background: lighten(#c91f47, .5);
        }
      }
    }
  }
}