body {
  background: var(--darkerGrey);
}

h2 {
  color: var(--grey0);
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

p {
  color: var(--grey40);
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

h4 {
  color: var(--grey0);
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
}

span {
  color: var(--grey40);
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h3 {
  color: var(--grey0);
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey80);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: none;
}

.coinTransactions .balanceContainer {
  margin: 0;
  background: var(--grey100);
  border-radius: 20px;
  padding: 10px;
  border-right: 1px solid var(--grey100);
}

.coinTransactions .balanceContainer .balance h4 {
  margin-bottom: 54px;
}

.coinTransactions .balanceContainer .wallet .currenciesImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../../img/dashboardCurrencies.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.coinTransactions .balanceContainer .wallet .currenciesImg h3 {
  color: var(--lightGreen);
}

.coinTransactions .balanceContainer .wallet .currencies {
  height: 160px;
  overflow-y: scroll;
}

.coinTransactions .balanceContainer .wallet .currencies .currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.coinTransactions .balanceContainer .wallet .currencies .currency .coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.coinTransactions .balanceContainer .wallet .currencies .currency .coin img {
  padding-top: 4px;
  padding-right: 6px;
}

.coinTransactions .transaction {
  margin: 0;
  background: var(--grey100);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.coinTransactions .transaction .transactionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coinTransactions .transaction .transactionTitle p {
  color: var(--grey0);
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid var(--grey0);
  cursor: pointer;
}

.coinTransactions .transaction .transactionContent ul {
  overflow-y: scroll;
  height: 155px;
}

.coinTransactions .transaction .transactionContent ul .purchases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}

.coinTransactions .transaction .transactionContent ul .purchases:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=dashboard.css.map */