:root {
  --royalBlue: linear-gradient(
    90deg,
    rgba(5, 59, 164, 1) 0%,
    rgba(30, 102, 240, 1) 100%
  );
  --gradientPattern: linear-gradient(
    90deg,
    rgba(5, 34, 172, 1) 0%,
    rgba(52, 56, 76, 0) 100%
  );
  --gradientBg: radial-gradient(
    circle,
    rgba(1, 9, 80, 1) 0%,
    rgba(14, 17, 32, 0) 100%
  );
  --greenLinear: linear-gradient(
    90deg,
    rgba(188, 251, 255, 0.4) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --gradientPattern: linear-gradient(
    90deg,
    rgba(5, 34, 172, 1) 0%,
    rgba(52, 56, 76, 0) 100%
  );
  --baseDarkTransparent: rgba(47, 50, 65, 0.5);
  --lightGreen: #30e0a1;
  --purplePrimary: #bd47fb;
  --orangePrimary: #f27f16;
  --redPrimary: #fa2256;
  --greenPrimary: rgb(14, 203, 129);
  --darkerGrey: #141518;
  --grey100: #1e1f25;
  --grey80: #34384c;
  --grey60: #717279;
  --grey40: #a5adcf;
  --grey20: #e5e6ed;
  --grey0: #ffffff;
  --gray: #d8d8d8;
  --royalPrime: rgb(83, 138, 242);
  --navyPrime: #171b26;
  --blackPrimary: #000000;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background: var(--grey100);
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,900&family=Sora:wght@100;200;500;600;700;800&display=swap");
  @import url("http://fonts.cdnfonts.com/css/sofia-pro");
}

.emailForm {
  position: relative;
  input {
    padding: 20px 25px;
    background: var(--baseDarkTransparent);
    border: 1px solid var(--grey80);
    box-sizing: border-box;
    border-radius: 100px;
    width: 100%;
    &:focus {
      border: 1px solid var(--grey80);
      outline: 0;
    }
    &::placeholder {
      color: var(--grey60);
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: var(--grey0);
    padding: 16px 32px;
    background: var(--royalBlue);
    border-radius: 100px;
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid transparent;
    transition: 700ms;
    margin: 5px;
    cursor: pointer;
    &:hover {
      border: 1px solid var(--grey0);
    }
  }
}

.commonButton {
  color: var(--grey0);
  padding: 16px 32px;
  background: var(--royalBlue);
  border-radius: 100px;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid transparent;
  transition: 700ms;
  margin: 5px;
  cursor: pointer;
  a {
    color: var(--grey0);
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    border: 1px solid var(--grey0);
    text-decoration: none;
  }
}
