/*scrollbar theme*/
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey60);
}

::-webkit-scrollbar-thumb {
    background: var(--grey80);
    border-radius: 20px;
}

/** Aside **/
section {
    margin-top: 24px;

    .aside {
        .heading {
            margin-bottom: 53px;

            p {
                color: var(--grey40);
                font-family: Graphik;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 8px;
            }

            h2 {
                color: var(--grey0);
                font-family: Graphik;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 27px;

                span {
                    color: var(--lightGreen);
                    font-family: Graphik;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 27px;
                }
            }
        }

        .exchange {
            background: var(--baseDarkTransparent);
            padding: 16px 16px 0px 16px;
            border-radius: 12px;
            margin-bottom: 24px;
            height: 85%;

            .title {
                p {
                    color: var(--grey60);
                    font-family: Graphik;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                }

            }

            .content {
                .title {
                    h2 {
                        margin-bottom: 4px;
                        color: var(--grey0);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 27px;

                    }

                    h3 {
                        margin-bottom: 4px;
                        color: var(--grey20);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    p {
                        color: var(--grey60);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                .graphic {
                    .title {
                        p {
                            color: var(--lightGreen);
                            font-family: Graphik;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    .chart {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .tableLink {
        background: var(--baseDarkTransparent);
        border-radius: 12px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 24px;

        .tableMenu {
            display: flex;
            justify-content: space-between;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            .title {
                h2 {
                    font-family: Sofia Pro;
                    color: var(--grey0);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 120%;
                }

            }

            .tableLinks {
                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            font-family: Sofia Pro;
                            color: var(--grey60);
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 160%;
                            padding: 8px 16px;
                            transition: 0.7s;

                            &:hover {
                                background: var(--darkerGrey);
                                border-radius: 50px;
                                color: var(--grey0);
                            }
                            img{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .coinTable {
        background: var(--baseDarkTransparent);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;

        .table {
            td {
                padding: 28.5px 16px;
            }

            thead {
                position: sticky;
                top: 0;
                left: 0;
                background-color:#272833;
                border-bottom: 1px solid var(--grey80);
                tr {
                    th {
                        color: var(--grey60);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            .marketTableBody {
                tr {
                    padding: 31px 15px;

                    .assets {

                        color: var(--grey0);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .title {
                        color: var(--grey40);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .lastPrice {
                        color: var(--grey0);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .marketCap {
                        color: var(--grey0);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .change {
                        color: var(--lightGreen);
                        font-family: Graphik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .chart {
                        img {
                            width: 70px;
                        }
                    }

                    .trade {
                        button {
                            border: 1px solid rgba(30, 102, 240, 1);
                            border-radius: 12px;
                            padding: 1px 15px;
                            background: transparent;
                            color: var(--grey0);
                            font-family: Sofia Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 22px;
                        }

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    section {
        .coinTable {
            overflow-x: scroll;
            max-height: 400px;
            .table {
                td {
                    padding: 10px 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section {
        .aside {
            .exchange {
                .title {
                    p {
                        font-size: 14px;
                    }
                }

                .content {
                    .title {
                        p {
                            font-size: 14px;
                        }

                        h2 {
                            font-size: 16px;
                        }

                        h3 {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .tableLink{
            .tableMenu{
                .title{
                    h2{
                        font-size: 16px;
                    }

                }
                .tableLinks{
                    ul{
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                        .allAssets{
                            a{
                                border: 1px solid var(--grey0);
                                border-radius: 20px;
                                color: var(--grey0);
                                img{
                                    display: inline;
                                    padding-left: 10px;
                                }
                            }
                        }
                        .gainers{
                            display: none;
                        }
                        .losers{
                            display: none;
                        }
                        .tradeble{
                            display: none;
                        }

                    }
                }
            }
            
        }
        .coinTable{
            
            .table{
                thead{
                    tr{
                        th{
                            font-size: 14px;
                        }
                    }
                }
                .marketTableBody{
                    tr{
                        .assets{
                            font-size: 14px;
                        }
                        .title{
                            font-size: 14px;
                        }
                        .lastPrice{
                            font-size: 14px;
                        }
                        .marketCap{
                            font-size: 14px;
                        }
                        .change{
                            font-size: 14px;
                        }
                        .trade{
                            button{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }




}